%p
  =link_to "Back to all patients", user_path(current_user)
%p
  Create a Schedule for
  %br
  %strong

=form_for [@user, @patient, @message], :url => user_patient_messages_path(params[:user_id], params[:patient_id]) do |f|
  = hidden_field_tag :phone, :value => "+13472793255"
  .field
    =f.label :message
    %br
    =f.text_area :message
    %br
  .field
    =f.label :send_type
    %br
    =f.select :send_type, options_for_select(%w[SMS Voice Email])
    %br



  .field
    =f.submit "Create Schedule"
