.jumbotron
  %h2 Welcome to Forget-Me(d)-Not
  %p.lead
    We help you manage your family's meds.
  - if current_user
    %h3
      =link_to "view or create patients", user_path(current_user)

  - else
    %p
      %a.btn.btn-lg.btn-success{:href => new_user_path}
        Sign up today