%h3
  Your Patient
%p
  %strong name
  = @patient.name
  %br
  %strong Relationship
  = @patient.your_relationship
  %br
  %strong phone
  = @patient.phone

  %h3 Set up Schedule
  =link_to "Add Schedule", new_user_patient_message_path(params[:user_id], params[:id])
